/* styles.css */

body {
	background-color: #FFFCDC;
	font-family: Helvetica, Arial, sans-serif;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: transparent;
}

.logo {
	margin-left: 15px;
	font-size: 40px;
	font-weight: bold;
	color: black;
}

.website-links span {
	display: flex;
	justify-content: center;
	gap: 20px;
	font-size: 24px;
	color: #0158AC;
}

.website-links span a:hover {
	color: white;
}

/*social-media container*/
.social-media {
	margin-right: 20px;
	display: inline-block;
}

/*social-media icons*/
.social-media img {
	width: 31px;
	height: 31px;
}

.hello {
	display: flex;
	align-items: center;
	gap: 190px;
}

.text {
	margin-left: 15px;
	font-weight: bold;
	color: black;
}

h1 { font-size: 36px; }
h2 { font-size: 96px; }
h3 { font-size: 24px; }

.backgroundImage {
	background-image: url(../img/);
	width: 548px;
	height: 550px;
	background-size: cover;
}
	
